
 <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-dashboard text-white"></i>
            <span class="nav-link-text text-white">Home</span>
          </a>
        </li>

       
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePosts" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench text-white"></i>
            <span class="nav-link-text text-white">Posts</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapsePosts">
            <li>
              <a class="text-white" href="/admin/posts">All Posts</a>
            </li>
            <li>
              <a class="text-white" href="/admin/posts/create">Create Post</a>
            </li>
          </ul>
        </li>
      </ul>